{use_macro file="Dataface_Main_Template.html"}
{fill_slot name="custom_javascripts"}
    <!-- load openlayers -->
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" src='js/map.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {literal}
    <script type="text/javascript">
        $(document).ready(function(){
            init();
        });
    </script>
    {/literal}
{/fill_slot}

{fill_slot name="main_column"}
    <div style="width:900px; height:400px" id="map"></div>
    
{/fill_slot}
{/use_macro}
